body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-color: #C8C9CB;*/
  background-color: #000000;
  color: #FFFFFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 20vw;
  line-height: 0px;
}

.title {
  font-size: 80px;
  margin-top: 300px;
}

.image {
  width: 480px;
  height: 480px;
  margin-top: 26px;
}

.name {
  font-size: 40px;
  margin-top: 40px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

